Repository subaruMax/my-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix, eslint --cache --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --color --max-warnings 0 --no-ignore",
    "tsc-files --p tsconfig.json --noEmit"
  ],
  "*.{js,jsx,ts,tsx,json,md,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --quiet --fix", "prettier --write"],
  "*.js": "eslint --cache --fix",
  "*.css": "stylelint --fix"
}

fix: title rename
  src/app/layout.tsx
  src/components/MainLayout/MainLayout.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write

feat: add icon component & script; improved theme switching transition
  general.d.ts
  next.config.js
  package.json
  public/icons/battery.svg
  public/icons/index.ts
  scripts/generateIcons.js
  src/app/[locale]/Page.module.scss
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ui-kit/Icon/Icon.tsx
  src/components/ui-kit/Icon/Icons.module.scss
  src/components/ui-kit/Icon/index.ts
  src/components/ui-kit/index.ts
  src/context/themeContext.tsx
  src/styles/index.css
  tsconfig.json
  yarn.lock
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix, eslint --cache --fix, stylelint --fix

feat: implement button ui kit component
  src/app/[locale]/Page.module.scss
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/ui-kit/Button/Button.module.scss
  src/components/ui-kit/Button/Button.tsx
  src/components/ui-kit/Button/index.ts
  src/components/ui-kit/index.ts
  src/styles/index.css
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix, stylelint --fix

feat: implement menu button
  src/app/[locale]/Page.module.scss
  src/app/[locale]/page.tsx
  src/components/Header/Header.tsx
  src/components/ui-kit/ButtonMenu/ButtonMenu.module.scss
  src/components/ui-kit/ButtonMenu/ButtonMenu.tsx
  src/components/ui-kit/ButtonMenu/index.ts
  src/components/ui-kit/index.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: implement Header component
  public/media/logo-dark.svg
  public/media/logo-light.svg
  public/media/test-bg.png
  src/app/[locale]/Layout.module.scss
  src/app/[locale]/Page.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
  src/components/Logo/index.ts
  src/components/ui-kit/ButtonMenu/ButtonMenu.module.scss
  src/constants/navigation.ts
  src/constants/settings.ts
  src/hooks/index.ts
  src/hooks/useScrollPosition.ts
  src/localization/en.json
  src/localization/ru.json
  src/localization/ua.json
  src/styles/index.css
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix, stylelint --fix

feat: update theme switcher style
  public/icons/index.ts
  public/icons/moon.svg
  public/icons/sun.svg
  public/media/logo-dark.svg
  public/media/logo-light.svg
  src/components/Header/Header.module.scss
  src/components/Logo/Logo.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.module.scss
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ui-kit/Icon/Icon.module.scss
  src/components/ui-kit/Icon/Icon.tsx
  src/styles/index.css
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix, stylelint --fix

feat: implement Select; update header; update LocaleSwitcher
  public/icons/dropdown.svg
  public/icons/flag-gb.svg
  public/icons/flag-ua.svg
  public/icons/index.ts
  src/app/[locale]/Page.module.scss
  src/app/[locale]/page.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/LocaleSwitcher/LocaleSwitcher.module.scss
  src/components/LocaleSwitcher/LocaleSwitcher.tsx
  src/components/ui-kit/Icon/Icon.tsx
  src/components/ui-kit/Icon/index.ts
  src/components/ui-kit/Select/Select.module.scss
  src/components/ui-kit/Select/Select.tsx
  src/components/ui-kit/Select/index.ts
  src/components/ui-kit/index.ts
  src/constants/localization.ts
  src/hooks/index.ts
  src/hooks/useOnClickOutside.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: updated useScrollPosition hook; implement header scroll progress
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/hooks/useScrollPosition.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: update meta media
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/metaimage.png
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/app/favicon.ico
Due: none

feat: added media queries, typography, mixins; refactored styles
  src/app/layout.tsx
  src/components/ui-kit/Button/Button.module.scss
  src/components/ui-kit/Select/Select.module.scss
  src/styles/_colors.scss
  src/styles/_media.scss
  src/styles/_mixins.scss
  src/styles/_reset.scss
  src/styles/_typography.scss
  src/styles/index.css
  src/styles/index.scss
  tsconfig.json
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix, stylelint --fix

feat: implement main loader
  src/app/[locale]/page.tsx
  src/components/LoaderMain/LoaderMain.module.scss
  src/components/LoaderMain/LoaderMain.tsx
  src/components/LoaderMain/index.ts
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: reduce button font size; minor changes
  src/app/[locale]/Loading.module.scss
  src/app/[locale]/loading.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/ui-kit/Button/Button.module.scss
  src/styles/_typography.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

refactored header; fixed media mixins; made header tablet-desktop adaptations
  package.json
  src/app/[locale]/Page.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/NavDesktop/ControlsDesktop/ControlsDesktop.module.scss
  src/components/Header/NavDesktop/ControlsDesktop/ControlsDesktop.tsx
  src/components/Header/NavDesktop/ControlsDesktop/index.ts
  src/components/Header/NavDesktop/NavDesktop.module.scss
  src/components/Header/NavDesktop/NavDesktop.tsx
  src/components/Header/NavDesktop/index.ts
  src/components/ThemeSwitcher/ThemeSwitcher.module.scss
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ui-kit/Button/Button.module.scss
  src/constants/navigation.ts
  src/styles/_media.scss
  src/styles/_mixins.scss
  src/styles/index.scss
  yarn.lock
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

Feat: implement mobile header
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/NavDesktop/NavDesktop.module.scss
  src/components/Header/NavMobile/NavMobile.module.scss
  src/components/Header/NavMobile/NavMobile.tsx
  src/components/Header/NavMobile/index.ts
  src/components/Logo/Logo.tsx
  src/components/ui-kit/ButtonMenu/ButtonMenu.module.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: update header mobile
  src/components/Header/NavDesktop/NavDesktop.tsx
  src/components/Header/NavMobile/NavLink/NavLink.module.scss
  src/components/Header/NavMobile/NavLink/NavLink.tsx
  src/components/Header/NavMobile/NavLink/index.ts
  src/components/Header/NavMobile/NavMobile.module.scss
  src/components/Header/NavMobile/NavMobile.tsx
  src/components/ui-kit/Select/Select.module.scss
  src/constants/navigation.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: performance issues
  src/app/[locale]/Page.module.scss
  src/app/[locale]/page.tsx
  src/components/Header/NavDesktop/NavDesktop.tsx
  src/components/Header/NavMobile/NavLink/NavLink.tsx
  src/components/LoaderMain/LoaderMain.module.scss
  src/components/LoaderMain/LoaderMain.tsx
  src/styles/index.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: implement about me section
  public/media/bg.svg
  public/media/globe-dark.svg
  public/media/globe-light.svg
  public/media/test-bg.png
  src/app/[locale]/Page.module.scss
  src/app/[locale]/page.tsx
  src/components/AnimatedBg/AnimatedBg.module.scss
  src/components/AnimatedBg/AnimatedBg.tsx
  src/components/AnimatedBg/index.ts
  src/components/ui-kit/Typewriter/Typewriter.module.scss
  src/components/ui-kit/Typewriter/Typewriter.tsx
  src/components/ui-kit/Typewriter/index.ts
  src/components/ui-kit/index.ts
  src/localization/en.json
  src/localization/ru.json
  src/localization/ua.json
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/AboutMeSection/index.ts
  src/sections/SkillsSection/SkillsSection.module.scss
  src/sections/SkillsSection/SkillsSection.tsx
  src/sections/SkillsSection/index.ts
  src/sections/index.ts
  src/styles/_typography.scss
  src/styles/index.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: layout fixes
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/SkillsSection/SkillsSection.module.scss
  src/sections/SkillsSection/SkillsSection.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: added technologies icons; minor layout fix
  public/media/icons-technologies/AWS.svg
  public/media/icons-technologies/AXIOS.svg
  public/media/icons-technologies/BITBUCKET.svg
  public/media/icons-technologies/CSS3.svg
  public/media/icons-technologies/FRAMER-MOTION.svg
  public/media/icons-technologies/GIT.svg
  public/media/icons-technologies/GITHUB.svg
  public/media/icons-technologies/GITLAB.svg
  public/media/icons-technologies/GRAPHQL.svg
  public/media/icons-technologies/HTML5.svg
  public/media/icons-technologies/JAVASCRIPT.svg
  public/media/icons-technologies/LODASH.svg
  public/media/icons-technologies/NEXT JS.svg
  public/media/icons-technologies/NODEJS.svg
  public/media/icons-technologies/NPM.svg
  public/media/icons-technologies/POSTMAN.svg
  public/media/icons-technologies/REACT.svg
  public/media/icons-technologies/SASS.svg
  public/media/icons-technologies/SOCKET-IO.svg
  public/media/icons-technologies/STRAPI.svg
  public/media/icons-technologies/TYPESCRIPT.svg
  public/media/icons-technologies/WEBPACK.svg
  public/media/icons-technologies/YARN.svg
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: update skills section; optimize skills icons
  public/media/icons-technologies/AWS.svg
  public/media/icons-technologies/AXIOS.svg
  public/media/icons-technologies/BITBUCKET.svg
  public/media/icons-technologies/CSS3.svg
  public/media/icons-technologies/FRAMER-MOTION.svg
  public/media/icons-technologies/GIT.svg
  public/media/icons-technologies/GITHUB.svg
  public/media/icons-technologies/GITLAB.svg
  public/media/icons-technologies/GRAPHQL.svg
  public/media/icons-technologies/HTML5.svg
  public/media/icons-technologies/JAVASCRIPT.svg
  public/media/icons-technologies/LODASH.svg
  public/media/icons-technologies/MJML.svg
  public/media/icons-technologies/NEXT JS.svg
  public/media/icons-technologies/NEXT-JS.svg
  public/media/icons-technologies/NODEJS.svg
  public/media/icons-technologies/NPM.svg
  public/media/icons-technologies/POSTMAN.svg
  public/media/icons-technologies/REACT-HOOK-FORM.svg
  public/media/icons-technologies/REACT.svg
  public/media/icons-technologies/SASS.svg
  public/media/icons-technologies/SOCKET-IO.svg
  public/media/icons-technologies/STRAPI.svg
  public/media/icons-technologies/TYPESCRIPT.svg
  public/media/icons-technologies/WEBPACK.svg
  public/media/icons-technologies/YARN.svg
  src/components/SkillsTable/SkillItem/SkillItem.module.scss
  src/components/SkillsTable/SkillItem/SkillItem.tsx
  src/components/SkillsTable/SkillItem/index.ts
  src/components/SkillsTable/SkillsTable.module.scss
  src/components/SkillsTable/SkillsTable.tsx
  src/components/SkillsTable/index.ts
  src/constants/skills.ts
  src/localization/en.json
  src/localization/ru.json
  src/localization/ua.json
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/SkillsSection/SkillsSection.module.scss
  src/sections/SkillsSection/SkillsSection.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: update about and skills sections
  public/media/rec.png
  src/components/SkillsTable/SkillsTable.module.scss
  src/components/SkillsTable/SkillsTable.tsx
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/SkillsSection/SkillsSection.module.scss
  src/sections/SkillsSection/SkillsSection.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: minor ui updates
  public/media/rec.png
  src/app/[locale]/page.tsx
  src/components/SkillsTable/SkillItem/SkillItem.module.scss
  src/components/SkillsTable/SkillsTable.tsx
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/SkillsSection/SkillsSection.module.scss
  src/sections/SkillsSection/SkillsSection.tsx
  src/styles/_colors.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

Feat: implement base footer
  src/app/[locale]/Page.module.scss
  src/app/[locale]/layout.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: implement navigation; style lint fix;
  package.json
  src/app/[locale]/Loading.module.scss
  src/app/[locale]/Page.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/NavDesktop/NavDesktop.module.scss
  src/components/Header/NavDesktop/NavDesktop.tsx
  src/components/Header/NavMobile/NavLink/NavLink.module.scss
  src/components/Header/NavMobile/NavLink/NavLink.tsx
  src/components/Header/NavMobile/NavMobile.module.scss
  src/components/Header/NavMobile/NavMobile.tsx
  src/components/LoaderMain/LoaderMain.module.scss
  src/components/LocaleSwitcher/LocaleSwitcher.tsx
  src/components/SkillsTable/SkillItem/SkillItem.module.scss
  src/components/SkillsTable/SkillsTable.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.module.scss
  src/components/ui-kit/ButtonMenu/ButtonMenu.module.scss
  src/components/ui-kit/Select/Select.module.scss
  src/components/ui-kit/Typewriter/Typewriter.module.scss
  src/constants/navigation.ts
  src/context/generalContextProvider.tsx
  src/context/index.ts
  src/context/navContext.tsx
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/SkillsSection/SkillsSection.tsx
  src/styles/_reset.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: added base for portfolio/contacts sections; tweak npm scripts
  package.json
  src/app/[locale]/page.tsx
  src/context/index.ts
  src/hooks/index.ts
  src/hooks/useChangeSection.ts
  src/localization/en.json
  src/localization/ru.json
  src/localization/ua.json
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/ContactsSection/ContactsSection.module.scss
  src/sections/ContactsSection/ContactsSection.tsx
  src/sections/ContactsSection/index.ts
  src/sections/PortfolioSection/PortfolioSection.module.scss
  src/sections/PortfolioSection/PortfolioSection.tsx
  src/sections/PortfolioSection/index.ts
  src/sections/SkillsSection/SkillsSection.tsx
  src/sections/index.ts
  yarn.lock
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: build; added cv file
  public/files/Maksym_Khaiuk-Front_End__Middle.pdf
  src/sections/ContactsSection/index.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write

feat: implement project cards with pagination
  public/media/projects/defi-safety.png
  src/app/[locale]/page.tsx
  src/components/Footer/Footer.module.scss
  src/components/PortfolioBg/PortfolioBg.module.scss
  src/components/PortfolioBg/PortfolioBg.tsx
  src/components/PortfolioBg/index.ts
  src/components/ProjectCard/ProjectCard.module.scss
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectCard/index.ts
  src/components/ProjectsWithPagination/ProjectsWithPagination.module.scss
  src/components/ProjectsWithPagination/ProjectsWithPagination.tsx
  src/components/ProjectsWithPagination/index.ts
  src/components/ProjectsWithPagination/projects.ts
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/ContactsSection/ContactsSection.module.scss
  src/sections/PortfolioSection/PortfolioSection.tsx
  src/sections/PortfolioSection/projects.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: remove section appear animation
  src/components/ProjectsWithPagination/ProjectsWithPagination.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write

fix: optimize performance
  src/components/ProjectCard/ProjectCard.module.scss
  src/components/ProjectsWithPagination/ProjectsOverlay/ProjectsOverlay.module.scss
Due: prettier --write, stylelint --quiet --fix

fix: update next js; refactor and optimize typewriter
  package.json
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectsWithPagination/ProjectsOverlay/ProjectsOverlay.module.scss
  src/components/ui-kit/Typewriter/Typewriter.module.scss
  src/components/ui-kit/Typewriter/Typewriter.tsx
  src/sections/AboutMeSection/AboutMeSection.module.scss
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/styles/_colors.scss
  yarn.lock
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: removed mock projects; refactored; ui updated
  public/icons/code.svg
  public/icons/index.ts
  public/icons/team.svg
  public/media/projects/airloom.png
  public/media/projects/burnt.png
  public/media/projects/dada.png
  public/media/projects/dadagan.png
  public/media/projects/defi-safety.png
  public/media/projects/hnft.png
  public/media/projects/magic-powered.png
  public/media/projects/societal.png
  public/media/projects/sputnik-dao.png
  public/media/projects/staking-platform.png
  public/media/projects/t1.jpg
  public/media/projects/t10.jpg
  public/media/projects/t11.png
  public/media/projects/t2.jpg
  public/media/projects/t3.jpg
  public/media/projects/t4.jpg
  public/media/projects/t5.jpg
  public/media/projects/t6.jpg
  public/media/projects/t7.jpg
  public/media/projects/t8.jpg
  public/media/projects/t9.jpg
  public/media/projects/the-auction.png
  src/components/ProjectCard/FullContent/FullContent.module.scss
  src/components/ProjectCard/FullContent/FullContent.tsx
  src/components/ProjectCard/ProjectCard.module.scss
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectsWithPagination/ProjectsGrid/ProjectsGrid.tsx
  src/components/ProjectsWithPagination/ProjectsWithPagination.module.scss
  src/components/ProjectsWithPagination/ProjectsWithPagination.tsx
  src/components/ProjectsWithPagination/projects.ts
  src/constants/portfolio.ts
  src/sections/PortfolioSection/PortfolioSection.module.scss
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: project href types
  src/components/ProjectCard/FullContent/FullContent.tsx
  src/components/ProjectCard/ProjectCard.tsx
  src/constants/portfolio.ts
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write

feat: added portfolio translations; minor UI corrections
  public/media/projects/sputnik-dao.png
  src/components/ProjectCard/FullContent/FullContent.module.scss
  src/components/ProjectCard/FullContent/FullContent.tsx
  src/components/ProjectCard/ProjectCard.module.scss
  src/components/ProjectCard/ProjectCard.tsx
  src/components/ProjectsWithPagination/ProjectsOverlay/ProjectsOverlay.module.scss
  src/constants/portfolio.ts
  src/localization/en.json
  src/localization/ru.json
  src/localization/ua.json
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

fix: skills section - minor improvements
  src/components/SkillsTable/SkillsTable.tsx
  src/components/ui-kit/Typewriter/Typewriter.module.scss
  src/sections/SkillsSection/SkillsSection.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

perf: optimize mobile & desktop performance
  package.json
  src/components/AnimatedBg/AnimatedBg.module.scss
  src/components/VideoBackground/VideoBackground.module.scss
  src/components/VideoBackground/VideoBackground.tsx
  src/components/ui-kit/Typewriter/Typewriter.tsx
  yarn.lock
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

feat: loading screen
  src/components/LoadingScreen/LoadingScreen.module.scss
  src/components/LoadingScreen/LoadingScreen.tsx
  src/components/LoadingScreen/index.ts
  src/components/ProjectsWithPagination/ProjectCard/FullContent/FullContent.module.scss
  src/components/ProjectsWithPagination/ProjectCard/FullContent/FullContent.tsx
  src/components/ProjectsWithPagination/ProjectCard/FullContent/index.ts
  src/components/ProjectsWithPagination/ProjectCard/ProjectCard.module.scss
  src/components/ProjectsWithPagination/ProjectCard/ProjectCard.tsx
  src/components/ProjectsWithPagination/ProjectCard/index.ts
  src/components/ProjectsWithPagination/ProjectsGrid/ProjectsGrid.tsx
  src/components/ProjectsWithPagination/ProjectsWithPagination.tsx
  src/context/generalContextProvider.tsx
  src/context/index.ts
  src/context/loadingContext.tsx
  src/hooks/index.ts
  src/hooks/useMobileDetect.ts
  src/sections/AboutMeSection/AboutMeSection.tsx
  src/sections/PortfolioSection/PortfolioSection.tsx
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix

refactor: fix invalid image caching
  src/app/[locale]/Loading.module.scss
  src/app/[locale]/Page.module.scss
  src/app/[locale]/layout.tsx
  src/app/[locale]/loading.tsx
  src/app/[locale]/page.tsx
  src/components/LoaderMain/LoaderMain.module.scss
  src/components/LoadingScreen/LoadingScreen.module.scss
  src/components/LoadingScreen/LoadingScreen.tsx
  src/components/ProjectsWithPagination/ProjectCard/ProjectCard.module.scss
  src/components/ProjectsWithPagination/ProjectCard/ProjectCard.tsx
  src/context/loadingContext.tsx
  src/localization/en.json
  src/localization/ru.json
  src/localization/ua.json
Due: eslint --color --max-warnings 0 --no-ignore, tsc-files --p tsconfig.json --noEmit, prettier --write, stylelint --quiet --fix
